    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>关于服装定制</h2>
                <p>一、寻找到合适的设计师或裁缝———找错了人你可能浪费钱财，找对了人你可以物超所值。二、与设计师充分地沟通———互相了解、调动情绪、激发灵感。</p>
                <p>三、跟设计师提出你的想法———比如你想要什么风格的服装，或指出你心中的偶像；另外说出你的具体事情———比如什么场合需要，你的身份、角色等，设计师会帮你综合考虑。</p>
                <p>四、量取人体24部位甚至更多尺寸。</p>
                <p>五、设计师出图。如果你看不懂图样的话，不要一知半解不懂装懂，一定要让设计师把他（她）的意图、创意、细节等跟你讲明白。六、试小样，即白布做的样衣，行话叫“白批”。</p>
                <p>七、选定面料。</p>
                <p>八、试指定面料做成的“半成品”。半成品的领口、袖口、肩部还可以修改。</p>
                <p>九、白批－半成品－成品，高级定制一定要有三次以上试装，不断修改完善，像迪奥的高级定制要求试装10次。</p>
                <p>十、最后完成。</p>
            </div>
        </div>
    </section>